.form-input {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  border: 0.25rem solid var(--primary-color);
  border-radius: 10px;
  outline: none;
}

.form-input:active,
.form-input:focus {
  border: 5px solid var(--accent-color);
}

@media (max-width: 768px) {
  .form-input {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.25rem;
  }
}
